# 服务器配置
PORT=8000

# 模型配置
LLM_PROVIDER=ollama
LLM_MODEL_NAME="qwen2.5:32b"
EMBEDDING_PROVIDER=ollama
EMBEDDING_MODEL_NAME="nomic-embed-text"

# API密钥
DEEPSEEK_API_KEY=your_deepseek_api_key_here
DEEPSEEK_API_URL=https://api.deepseek.com/

# 联网检索秘钥
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_CSE_ID=your_google_custom_search_engine_id_here

# 日志设置
LOG_LEVEL=info 

# 数据库设置
DATABASE_TYPE=mysql
MYSQL_HOST=localhost
MYSQL_USER=your_user_name
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=ai_template